.container{
    border-radius: 9px;
    width: 42vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
}

.container a{
    text-decoration: none;
}

.container .img img{
    width: 45vw;
    border-radius: 9px;
}

.container .sub-title{
    font-size: 1.7rem;
    font-weight: bold;
}

.container .description{
    color: gray;
}