<div class="navbar">
    <div class="container">

     <ul class="items-navbar">

      <ul class="item-home">
        <li><a [routerLink]="['']">Home</a></li>
      </ul>

       <li><a href="https://www.youtube.com/@RacionaisTV/videos" target="_blank">Youtube</a></li>
       <li><a href="https://www.instagram.com/racionaiscn/?hl=pt" target="_blank">Instagram</a></li>
       <li><a href="https://open.spotify.com/artist/29CQLw9uLWsl8Qkz9holfr" target="_blank">Spotify</a></li>
       <li><a [routerLink]="['/content']" >Álbuns</a></li>
     </ul>

    </div>
</div>